In [ ]:
import pandas as pd
url='http://winterolympicsmedals.com/medals.csv'
data=pd.read_csv(url)
data[(data['Year'] == 2002)&(data['NOC']=='RUS')]
#Quốc gia Nga ở thế vận hội 2002

,Year,City,Sport,Discipline,NOC,Event,Event gender,Medal
1993,2002,Salt Lake City,Biathlon,Biathlon,RUS,10km pursuit,W,Gold
1994,2002,Salt Lake City,Biathlon,Biathlon,RUS,20km,M,Bronze
1995,2002,Salt Lake City,Biathlon,Biathlon,RUS,4x7.5km relay,W,Bronze
1996,2002,Salt Lake City,Ice Hockey,Ice Hockey,RUS,ice hockey,M,Bronze
1997,2002,Salt Lake City,Skating,Figure skating,RUS,ice dancing,X,Silver
1998,2002,Salt Lake City,Skating,Figure skating,RUS,individual,M,Gold
1999,2002,Salt Lake City,Skating,Figure skating,RUS,individual,M,Silver
2000,2002,Salt Lake City,Skating,Figure skating,RUS,individual,W,Silver
2001,2002,Salt Lake City,Skating,Figure skating,RUS,pairs,X,Gold
2002,2002,Salt Lake City,Skiing,Cross Country S,RUS,10km,W,Silver
2003,2002,Salt Lake City,Skiing,Cross Country S,RUS,15km mass start,W,Bronze
2004,2002,Salt Lake City,Skiing,Cross Country S,RUS,50km,M,Gold
2005,2002,Salt Lake City,Skiing,Cross Country S,RUS,sprint 1.5km,W,Gold

In [ ]:
url='http://winterolympicsmedals.com/medals.csv'
data=pd.read_csv(url)
data1=data[(data['Year'] == 2002)&(data['NOC']=='RUS')]
data1.groupby(['Discipline','Medal','Sport']).count()

                                   Year  City  NOC  Event  Event gender
Discipline      Medal  Sport
Biathlon        Bronze Biathlon       2     2    2      2             2
                Gold   Biathlon       1     1    1      1             1
Cross Country S Bronze Skiing         1     1    1      1             1
                Gold   Skiing         2     2    2      2             2
                Silver Skiing         1     1    1      1             1
Figure skating  Gold   Skating        2     2    2      2             2
                Silver Skating        3     3    3      3             3
Ice Hockey      Bronze Ice Hockey     1     1    1      1             1

In [ ]:
url='http://winterolympicsmedals.com/medals.csv'
data=pd.read_csv(url)
data1=data[(data['Year'] == 2002)&(data['NOC']=='RUS')]
data1.groupby(['Discipline','Medal','Sport']).count()
#liệt kê số lượng huy chương từng môn

                                   Year  City  NOC  Event  Event gender
Discipline      Medal  Sport
Biathlon        Bronze Biathlon       2     2    2      2             2
                Gold   Biathlon       1     1    1      1             1
Cross Country S Bronze Skiing         1     1    1      1             1
                Gold   Skiing         2     2    2      2             2
                Silver Skiing         1     1    1      1             1
Figure skating  Gold   Skating        2     2    2      2             2
                Silver Skating        3     3    3      3             3
Ice Hockey      Bronze Ice Hockey     1     1    1      1             1

In [ ]:
url='http://winterolympicsmedals.com/medals.csv'
data=pd.read_csv(url)
data1=data[(data['Year'] == 2002)&(data['NOC']=='RUS')]
data1.groupby(['Discipline','Medal','Sport']).count()
data1.groupby(data1['Medal']).count()

        Year  City  Sport  Discipline  NOC  Event  Event gender
Medal
Bronze     4     4      4           4    4      4             4
Gold       5     5      5           5    5      5             5
Silver     4     4      4           4    4      4             4